<% if user_signed_in? %>
    <% if blog_post.draft? %>
        <p class="bg-blue-100 text-blue-500 p-1 w-fit text-[12px] rounded-lg">Draft</p>
    <% elsif blog_post.published? %>
        <p class="bg-yellow-100 text-yellow-500 p-1 w-fit text-[12px] rounded-lg">Published</p>
    <% else %>
        <p class="bg-red-100 text-red-500 p-1 w-fit text-[12px] rounded-lg">Scheduled</p>
    <% end %>
<% end %>
